@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face{
    font-family: Segoe ui historic;
    src:url(fonts/Segoe\ ui\ historic.ttf) format('truetype')
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Mukta", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*               Header               */

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #8c92a07a;
}
header form{
    position: relative;
    width: calc(100%/4);
    /* border: 1px solid red; */
}
header form input{
    border-style: none;
    outline: none;
    height: 43px;
    padding-left: 50px;
    font-size: 16px;
    color: #8c92a0;
    transition: 0.4s linear;
}
header form input:focus{
    padding-left: 20px;
}
header form i{
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #8c92a0;
    font-size: 14px;
}
header p{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: calc(100%/4);
    /* border: 1px solid red; */
    text-align: center;
}
header p a{
    padding: 0 6px;
    text-align: center;
    border: 2px solid #25262a;
    color: #25262a;
}
header .head_right{
    width: calc(100%/4);
    text-align: right;
    /* border: 1px solid red; */
}
header .head_right a i{
    color: #868995;
    font-size: 18px;
    margin-left: 15px;
    transition: 0.3s linear;
}
header .head_right a i:hover{
    color: #3d3f45;
}
/*               Navbar               */
.main_menu{
    height: 65px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_menu .main_drop,
.submain_drop{
    position: relative;
}
/*           Menu drop adjustment             */
.main_menu .drop_down_1,
.drop_down_2{
    position: absolute;
    display: none;
}
.main_menu .main_drop:hover .drop_down_1{
    display: block;
}
.main_menu .submain_drop:hover  .drop_down_2{
    display: block;
}
/*           Menu drop styling             */
.main_list{
    height: 100%;
    margin: 10px;
    padding: 20px;
}
.main_list.hov a{
    font-size: 15px;
    color: #25262a;
    transition: 0.3s linear;
}
.main_list.hov a:first-child:hover{
    color: #7971ea;
}
.sub_list a,
.submain_drop a{
    font-size: 20px;
    margin: 20px 0 20px 20px;
}
.drop_down_1{
    top: 63px;
}
.drop_down_2{
    left: 200px;
    top: 0;
}
.drop_down_1,
.drop_down_2{
    width: 200px;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #7971ea;
}
.sub_list{
    height: 45px;
    line-height: 45px;
}
.sub_list:hover{
    background-color: #8c92a073;
}

/*             Section About          */
.about p{
    height: 59px;
    padding-left: 6%;
    background-color: #F8F9FA;
    line-height: 59px;
}
.about p a{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
}
.about p a:hover{
    color: #3a2ee0;
}
/*             Section 1ab          */
.sec_1ab{
    width: 100%;
    height: calc(100% - 59px);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
    border-bottom: 1px solid #8c92a07a;
}
.sec_1ab img{
    width: 45%;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 120px;
}
.sec_1ab .text_ab{
    width: 35%;
    margin-top: 70px;
    margin-bottom: 120px;
    position: relative;
}
.sec_1ab .text_ab::after{
    content: '';
    width: 45px;
    border-top: 2px solid #5a50e5;
    position: absolute;
    top: 0;
    left: 0;
}
.sec_1ab .text_ab h3{
    font-size: 32px;
    font-weight: 400;
}
.sec_1ab .text_ab p{
    font-size: 16px;
    color: #8c92a0;
    margin-bottom: 30px;
}
/*             Section 2tem          */
.sec_2tem{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #8c92a07a;
}
.sec_2tem .team{
    display: flex;
    justify-content: center;
}
.sec_2tem h3{
    font-size: 32px;
    font-weight: 500;
    color: #25262a;
    position: relative;
}
.sec_2tem h3::after{
    content: '';
    width: 45px;
    border-top: 2px solid #5a50e5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.sec_2tem .team .card{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec_2tem .team .card img{
    width: 50%;
    border-radius: 50%;
}
.sec_2tem .team .card h4{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
.sec_2tem .team .card span{
    display: block;
    color: #b3b3b3;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.sec_2tem .team .card p{
    font-size: 16px;
    color: #8c92a0;
    text-align: center;
}

/*       Section 2                */
.sec_2{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #8c92a07a;
}
.sec_2 .left,
.sec_2 .midd,
.sec_2 .right{
    width: 22%;
    margin: 60px 40px;
    position: relative;
}
.sec_2 .left i{
    transform: rotateY(180deg);
}
.sec_2 .left i,
.sec_2 .midd i,
.sec_2 .right i{
    position: absolute;
    font-size: 40px;
    color: #7971ea;
    left: -70px;
}
.sec_2 .p_1{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.sec_2 .p_2{
    font-size: 16px;
    color: #8c92a0;
}
/*       Footer               */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .top{
    height: 330px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
footer .top .left{
    width: 40%;
    margin-right: 20px;
}
footer .top .left p{
    font-size: 20px;
    color: #25262a;
}
footer .top .list{
    /* width: 50%; */
    display: flex;
}
footer .top .list ul{
    list-style-type: none;
    margin-right: 65px;
}
footer .top .list ul li{
    margin: 15px 0;
}
footer .top .list ul li a{
    font-size: 16px;
    color: #5c626e;
    text-transform: capitalize;
    transition: 0.2s ease;
}
footer .top .list ul li a:hover{
    color: #7971ea;
}
footer .top .right{
    width: 40%;
    margin-left: 20px;
    display: flex;
}
footer .top .right .right_l{
    width: 45%;
    margin-right:30px ;
}
footer .top .right .right_l p,
footer .top .right .right_r p{
    font-size: 20px;
    color: #25262a;
}
footer .top .right .right_l img{
    width: 100%;
    border-radius: 8px;
}
footer .top .right .right_l .r_l_1{
    display: block;
    color: #737b8a;
}
footer .top .right .right_l .r_l_1.r_l_11{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
}
footer .top .right .right_l .r_l_1.r_l_11:hover{
    color: #3a2ee0;
}
footer .top .right .right_r{
    width: 45%;
}
footer .top .right .right_r span{
    display: block;
    color: #25262a;
    text-align: left;
    padding: 10px 0;
}
footer .top .right .right_r span i{
    font-size: 18px;
    color: #5a50e5;
    padding-right: 10px;
}
footer .top .right .right_r .tel a{
    color: #5c626e;
}
footer .top .right .right_r .tel a:hover{
    color: #7971ea;
}
footer .top .right .right_r form{
    display: flex;
    flex-direction: column;
}
footer .top .right .right_r form{
    position: relative;
    margin-top: 30px;
}
footer .top .right .right_r form label{
    font-size: 20px;
    color: #25262a;
    margin-bottom: 20px;
    font-weight: 300;
}
footer .top .right .right_r form input{
    height: 50px;
    color: #495057;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    border-style: none;
    border: 1px solid #8c92a081;
    border-radius: 5px;
}
footer .top .right .right_r form input:focus{
    border-color: #7971ea;
}
footer .top .right .right_r form a{
    display: block;
    width: fit-content;
    height: 40px;
    line-height: 12px;
    background-color: #7971ea;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translate(0,-5px);
    transition: 0.2s ease;
}
footer .top .right .right_r form a:hover{
    background-color: #5a50e5;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px -7px;
    transform: translateY(-5px);
}
footer .bottom{
    color: #8c92a0;
    font-size: 16px;
    margin: 80px 0;
}
footer .bottom a{
    color: #7971ea;
    transition: 0.2s ease;
}
footer .bottom a:hover{
    color: #4f45e3;
}


