@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face{
    font-family: Segoe ui historic;
    src:url(fonts/Segoe\ ui\ historic.ttf) format('truetype')
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Mukta", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*               Header               */

header{
    width: 100%;
    border-bottom: 1px solid #8c92a07a;
}
header .hea{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}
header .hea form{
    position: relative;
    width: calc(100%/4);
    /* border: 1px solid red; */
}
header .hea form input{
    border-style: none;
    outline: none;
    height: 43px;
    padding-left: 50px;
    font-size: 16px;
    color: #8c92a0;
    transition: 0.4s linear;
}
header .hea form input:focus{
    padding-left: 20px;
}
header .hea form i{
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #8c92a0;
    font-size: 14px;
}
header .hea p{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: calc(100%/4);
    /* border: 1px solid red; */
    text-align: center;
}
header .hea p a{
    padding: 0 6px;
    text-align: center;
    border: 2px solid #25262a;
    color: #25262a;
}
header .hea .head_right{
    width: calc(100%/4);
    text-align: right;
    /* border: 1px solid red; */
}
header .hea .head_right a i{
    color: #868995;
    font-size: 18px;
    margin-left: 15px;
    transition: 0.3s linear;
}
header .hea .head_right a i:hover{
    color: #3d3f45;
}
.fa-cart-shopping{
    position: relative;
}
.fa-cart-shopping::after{
    content: '2';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #7971ea;
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: white;
    transition: 0.2s ease;
}
.fa-cart-shopping:hover::after{
    transform: translateY(-2px);
}
/*               Navbar               */
.main_menu{
    height: 65px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_menu .main_drop,
.submain_drop{
    position: relative;
}
/*           Menu drop adjustment             */
.main_menu .drop_down_1,
.drop_down_2{
    position: absolute;
    display: none;
}
.main_menu .main_drop:hover .drop_down_1{
    display: block;
}
.main_menu .submain_drop:hover  .drop_down_2{
    display: block;
}
/*           Menu drop styling             */
.main_list{
    height: 100%;
    margin: 10px;
    padding: 20px;
}
.main_list.hov a{
    font-size: 15px;
    color: #25262a;
    transition: 0.3s linear;
}
.main_list.hov a:first-child:hover{
    color: #7971ea;
}
.sub_list a,
.submain_drop a{
    font-size: 20px;
    margin: 20px 0 20px 20px;
}
.drop_down_1{
    top: 63px;
}
.drop_down_2{
    left: 200px;
    top: 0;
}
.drop_down_1,
.drop_down_2{
    width: 200px;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #7971ea;
}
.sub_list{
    height: 45px;
    line-height: 45px;
}
.sub_list:hover{
    background-color: #8c92a073;
}

/*             Section About          */
.about{
    width: 100%;
    background-color: #F8F9FA;
    
}
.ab{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* border: 1px solid red; */
}
.about p{
    height: 59px;
    /* padding-left: 6%; */
    line-height: 59px;
}
.about p a{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
    padding: 3px;
}
.about p a:hover{
    color: #3a2ee0;
}
/*       Section Cart               */
.sec_1cart{
    border-bottom: 1px solid rgba(140, 146, 160, 0.5);
    padding-bottom: 80px;
    margin-top: 60px;
}
.sec_1cart .top{
    width: 60%;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 48px;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
}
.sec_1cart .top p{
    font-size: 16px;
    color: #8c92a0;
    padding: 24px;
}
.sec_1cart .top p a{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
    padding: 3px;
}
.sec_1cart .top p a:hover{
    color: #3a2ee0;
}
.sec_1cart .cart{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
/*       Section Cart Left             */
.sec_1cart .cart .left{
    width: 48%;
}
.cart .left p{
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
}
.cart .left .billing{
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
    padding: 48px;
}
.cart .left .billing label{
    font-size: 16px;
}
.cart .left .billing label span{
    color: red;
}
.cart .left .billing input{
    height: 43px;
    padding: 10px;
    outline: none;
    border-style: none;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.cart .left .billing input::placeholder{
    font-size: 16px;
}
#countrys,
#company{
    width: 100%;
    
}
.cart .left .billing .usern1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.cart .left .billing .usern1 .first,
.cart .left .billing .usern1 .last{
    width: 45%;
}
.cart .left .billing .usern1 .first #fname,
.cart .left .billing .usern1 .last #lname{
    width: 100%;
}
.cart .left .billing .address{
    display: flex;
    flex-direction: column;
}
.cart .left .billing .postal,
.cart .left .billing .mail{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cart .left .billing .postal .state,
.cart .left .billing .postal .zip,
.cart .left .billing .mail .eaddress,
.cart .left .billing .mail .tel{
    width: 45%;
}
.cart .left .billing .postal input,
.cart .left .billing .mail input{
    width: 100%;
}
.cart .left .billing .acco,
.cart .left .billing .diff{
    margin-top: 20px;
}
.cart .left .billing .acco input,
.cart .left .billing .diff input{
    height: fit-content;
}
.cart .left .billing .order_note{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cart .left .billing textarea{
    width: 100%;
    outline: none;
    border-style: none;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
}
.cart .left .billing textarea::placeholder{
    font-size: 16px;
    padding: 10px;
}

/*       Section Cart right             */

.cart .cart_right{
    width: 48%;
}
.cart .cart_right .one{
    font-size: 28px;
}
.cart .cart_right .apply{
    width: 100%;
    padding: 48px;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
}
.cart .cart_right .apply p{
    font-size: 16px;
    padding-bottom: 10px;
}
.cart .cart_right .apply input{
    width: 50%;
    height: 43px;
    padding: 10px;
    outline: none;
    border-style: none;
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.cart .cart_right .apply input::placeholder{
    font-size: 16px;
}
.cart .cart_right .apply a{
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #7971ea;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.3s linear;
}
.cart .cart_right .apply a:hover{
    background-color: #5a50e5;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px -7px;
    transform: translateY(-3px);
}
.cart .cart_right .order{
    width: 100%;
    
}
.cart .cart_right .order .data{
    width: 100%;
    padding: 48px;
}
.cart .cart_right .order .data .detail span{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.cart .cart_right .order .data .detail span:nth-child(2){
    padding-right: 70px;
}
.cart .cart_right .order .data .detail.light span{
    font-size: 16px;
    font-weight: 300;
}
.cart .cart_right .order .data .detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(140, 146, 160, 0.5);
}
.cart .cart_right .order .payment{
    width: 100%;
    margin-top: 45px;
}
.cart .cart_right .order .payment .add{
    border: 1px solid rgba(140, 146, 160, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
.cart .cart_right .order .payment .add p{
    font-size: 18px;
}
.cart .cart_right .order .payment a{
    display: block;
    /* padding: 15px 0 15px 10px; */
    margin-bottom: 10px;
    
}
.cart .cart_right .order .payment a{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
}
.cart .cart_right .order .payment a:hover{
    color: #3a2ee0;
}
.cart .left .place{
    width: 100%;
}
.cart .left .place a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #7971ea;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.3s linear;
}
.cart .left .place a:hover{
    background-color: #5a50e5;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px -7px;
    transform: translateY(-3px);
}


/*       Footer               */
footer{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
footer .top{
    height: 330px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
footer .top .left{
    width: 40%;
    margin-right: 20px;
}
footer .top .left p{
    font-size: 20px;
    color: #25262a;
}
footer .top .list{
    /* width: 50%; */
    display: flex;
}
footer .top .list ul{
    list-style-type: none;
    margin-right: 65px;
}
footer .top .list ul li{
    margin: 15px 0;
}
footer .top .list ul li a{
    font-size: 16px;
    color: #5c626e;
    text-transform: capitalize;
    transition: 0.2s ease;
}
footer .top .list ul li a:hover{
    color: #7971ea;
}
footer .top .right{
    width: 50%;
    margin-left: 20px;
    display: flex;
}
footer .top .right .right_l{
    width: 45%;
    margin-right:30px ;
}
footer .top .right .right_l p,
footer .top .right .right_r p{
    font-size: 20px;
    color: #25262a;
}
footer .top .right .right_l img{
    width: 100%;
    border-radius: 8px;
}
footer .top .right .right_l .r_l_1{
    display: block;
    color: #737b8a;
}
footer .top .right .right_l .r_l_1.r_l_11{
    color: #7971ea;
    font-size: 18px;
    transition: 0.2s ease;
}
footer .top .right .right_l .r_l_1.r_l_11:hover{
    color: #3a2ee0;
}
footer .top .right .right_r{
    width: 45%;
}
footer .top .right .right_r span{
    display: block;
    color: #25262a;
    text-align: left;
    padding: 10px 0;
}
footer .top .right .right_r span i{
    font-size: 18px;
    color: #5a50e5;
    padding-right: 10px;
}
footer .top .right .right_r .tel a{
    color: #5c626e;
}
footer .top .right .right_r .tel a:hover{
    color: #7971ea;
}
footer .top .right .right_r form{
    display: flex;
    flex-direction: column;
}
footer .top .right .right_r form{
    position: relative;
    margin-top: 30px;
}
footer .top .right .right_r form label{
    font-size: 20px;
    color: #25262a;
    margin-bottom: 20px;
    font-weight: 300;
}
footer .top .right .right_r form input{
    height: 50px;
    color: #495057;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    border-style: none;
    border: 1px solid #8c92a081;
    border-radius: 5px;
}
footer .top .right .right_r form input:focus{
    border-color: #7971ea;
}
footer .top .right .right_r form a{
    display: block;
    width: fit-content;
    height: 40px;
    line-height: 12px;
    background-color: #7971ea;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translate(0,-5px);
    transition: 0.2s ease;
}
footer .top .right .right_r form a:hover{
    background-color: #5a50e5;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px -7px;
    transform: translateY(-5px);
}
footer .bottom{
    color: #8c92a0;
    font-size: 16px;
    margin: 80px 0;
    align-self: center;
}
footer .bottom a{
    color: #7971ea;
    transition: 0.2s ease;
}
footer .bottom a:hover{
    color: #4f45e3;
}

/*        Media Quyries         */
@media (min-width:1367px) and (max-width:1669px){
    header .hea{
        width: 80%;
    }
    .ab{
        width: 80%;
    }
    .sec_1cart .top{
        width: 80%;
    }
    .sec_1cart .cart{
        width: 80%;
    }
    footer{
        width: 80%;
    }
}

@media (min-width:1024px) and (max-width:1366px){
    header .hea{
        width: 90%;
    }
    .ab{
        width: 90%;
    }
    .sec_1cart .top{
        width: 90%;
    }
    .sec_1cart .cart{
        width: 90%;
    }
    footer{
        width: 90%;
    }
}